/* .customer-topbar {
  height: 88px;
  background-color: #192957;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.customer-topbar h1 {
  color: white;
  font-size: 30px;
  margin: 0;
} */