/* topbar title */
.customer-topbar h1 {
    font-size: 25px;
}

/* whole container for topbar box) */
.customer-topbar {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}